@charset "UTF-8";
@import url("//db.onlinewebfonts.com/c/c481f64b0f240989fa9c6971ea78673f?family=Torrent");
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Torrent" sans-serif;
}

/* text-color */
.text-blue {
  color: #1B519F;
}

.text-white {
  color: #FFFFFF;
}

.text-pink {
  color: #E989AE;
}

.text-red {
  color: #FF0000;
}

/* screen size */
/* common */
/* position */
/* button */
/* shadow */
html {
  position: relative;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 0.521vw;
    scroll-padding-top: 13.8rem;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 1.3333vw;
  }
}

/* button */
.button {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  text-align: center;
  font-size: 2.1rem;
  letter-spacing: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}
.button:before, .button:after {
  content: "参加応募はこちら";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.button:before {
  background: linear-gradient(to right, #E387AD 40%, #E387AD 100%);
}
.button:after {
  transition: ease 0.4s;
  background: linear-gradient(to right, #21529F 40%, #E387AD 100%);
}
.button:hover:after {
  opacity: 0;
}

.bx-wrapper {
  background: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #1B519F !important;
  border: solid 1px #FFFFFF !important;
  margin: 0 1rem !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #FFFFFF !important;
}

#next-btn, #prev-btn {
  font-size: 5rem;
}

.hamburger {
  transition: ease 0.4s;
  height: 100%;
  width: 6rem;
  transform: translate(0, 50%);
  position: relative;
}
.hamburger .border {
  width: 100%;
  height: 2px;
  background-color: #1B519F;
  transition: ease 0.4s;
  position: absolute;
  top: 0rem;
}
.hamburger .border::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1B519F;
  transition: ease 0.4s;
  position: absolute;
  top: -1.6rem;
}
.hamburger .border::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1B519F;
  transition: ease 0.4s;
  position: absolute;
  bottom: -1.6rem;
}
.hamburger.active .border {
  height: 0;
}
.hamburger.active .border::before {
  transform: rotate(-45deg);
  top: 0.2rem;
}
.hamburger.active .border::after {
  transform: rotate(45deg);
  top: 0.2rem;
}

.hamburger_nav {
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  background-color: #FFFFFF;
  color: #1B519F;
  transition: ease 0.4s;
  height: 100vh;
  z-index: -1;
}
.hamburger_nav.active {
  transform: translateX(0%);
}

#scroll-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 1;
  transition: ease 0.2s;
}
#scroll-to-top figure {
  width: 100%;
}
#scroll-to-top:hover {
  position: fixed;
  bottom: 8rem;
  right: 5rem;
}

.u-flex {
  display: flex;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
  .tab {
    display: none;
  }
  .pc {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sp {
    display: block !important;
  }
  .tab {
    display: none !important;
  }
  .pc {
    display: none !important;
  }
}
#top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media screen and (min-width: 768px) {
  #top {
    background: url("../images/top_background_pc.jpg");
    background-size: 100%;
    margin-top: 13.8rem;
    padding: 10rem 16rem;
    height: 95rem;
    max-height: 100vh;
  }
}
@media screen and (max-width: 767px) {
  #top {
    background: url("../images/top_background_sp.jpg");
    background-size: 100%;
    margin-top: 11rem;
    padding: 10rem 6rem;
    height: 125rem;
  }
}
#top h2 {
  line-height: 9rem;
}
@media screen and (min-width: 768px) {
  #top h2 {
    font-size: 4.2rem;
    margin-bottom: 6.2rem;
  }
}
@media screen and (max-width: 767px) {
  #top h2 {
    font-size: 3.6rem;
    margin-bottom: 4.6rem;
  }
}
#top p {
  font-size: 2rem;
  margin-bottom: 4rem;
  line-height: 4rem;
}
@media screen and (min-width: 768px) {
  #top .p-fig_top1 {
    position: absolute;
    bottom: 20.3rem;
    right: 3.6rem;
    width: 27%;
  }
}
@media screen and (max-width: 767px) {
  #top .p-fig_top1 {
    position: absolute;
    bottom: 16.8rem;
    right: 0;
    width: 36%;
  }
}
@media screen and (min-width: 768px) {
  #top .p-fig_top2 {
    position: absolute;
    bottom: 0;
    right: 33rem;
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  #top .p-fig_top2 {
    position: absolute;
    bottom: 0;
    right: 17.9rem;
    width: 45%;
  }
}

#vision {
  position: relative;
  background-color: #1B519F;
}
@media screen and (min-width: 768px) {
  #vision {
    padding: 30rem 32rem 15rem;
  }
}
@media screen and (max-width: 767px) {
  #vision {
    padding: 15rem 6rem 72.9rem;
  }
}
@media screen and (min-width: 768px) {
  #vision h2 {
    font-size: 26rem;
    position: absolute;
    top: -6rem;
    left: 11.5rem;
  }
}
@media screen and (max-width: 767px) {
  #vision h2 {
    font-size: 10rem;
    margin-bottom: 12.5rem;
    text-align: center;
  }
}
#vision p {
  line-height: 6.5rem;
  letter-spacing: 0.3rem;
}
@media screen and (min-width: 768px) {
  #vision p {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 767px) {
  #vision p {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 768px) {
  #vision .p-fig_vision1, #vision .p-fig_vision2, #vision .p-fig_vision3 {
    width: 19%;
  }
  #vision .p-fig_vision1 {
    position: absolute;
    top: 16rem;
    right: 37.2rem;
  }
  #vision .p-fig_vision2 {
    position: absolute;
    top: 54.6rem;
    right: 16rem;
  }
  #vision .p-fig_vision3 {
    position: absolute;
    top: 101.4rem;
    right: 32.2rem;
  }
}
@media screen and (max-width: 767px) {
  #vision .p-fig_vision1 {
    width: 30%;
    position: absolute;
    bottom: 33.8rem;
    left: 6rem;
  }
  #vision .p-fig_vision2 {
    width: 30%;
    position: absolute;
    bottom: 10rem;
    left: 22.9rem;
  }
  #vision .p-fig_vision3 {
    width: 40%;
    position: absolute;
    bottom: 32rem;
    left: 43rem;
  }
}

#todo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  #todo {
    padding: 15rem 32rem;
    line-height: 7rem;
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 767px) {
  #todo {
    padding: 15rem 6.5rem;
    line-height: 5rem;
  }
  #todo .p-card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  #todo h2 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 767px) {
  #todo h2 {
    font-size: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  #todo h3 {
    font-size: 3.6rem;
  }
  #todo h3:nth-child(2) {
    margin: 15rem 0 9.6rem 0;
  }
  #todo h3:nth-child(5) {
    margin-bottom: 5.9rem;
  }
}
@media screen and (max-width: 767px) {
  #todo h3:nth-child(2) {
    font-size: 3.4rem;
    margin: 15rem 0 9.2rem 0;
  }
  #todo h3:nth-child(5) {
    font-size: 3.6rem;
    margin-bottom: 8rem;
  }
}
@media screen and (min-width: 768px) {
  #todo p {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 767px) {
  #todo p {
    font-size: 2.2rem;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  #todo .p-unit {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 767px) {
  #todo .p-unit {
    font-size: 2.7rem;
  }
}
#todo .p-border {
  width: 100%;
  max-width: 100%;
  height: 3px;
  border-bottom: solid 3px #1B519F;
}
@media screen and (min-width: 768px) {
  #todo .p-border {
    margin: 14rem 0 7rem 0;
  }
}
@media screen and (max-width: 767px) {
  #todo .p-border {
    margin: 9.2rem 0 8rem 0;
  }
}
#todo .p-card {
  line-height: initial;
  padding: 5.5rem 4.1rem;
  text-align: center;
  border-radius: 20rem 20rem 0 0;
  border: solid 4px #1B519F;
  width: 41rem;
  height: 63.3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  #todo .p-card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  #todo .p-card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#todo .p-card h4 {
  font-size: 2.7rem;
  margin-bottom: 3rem;
}
#todo .p-card:nth-child(1) h4 {
  margin-top: 5.7rem;
}
#todo .p-card:nth-child(2) h4 {
  margin-top: 1rem;
}
#todo .p-card:nth-child(3) h4 {
  margin-top: 11rem;
}
#todo .p-card p {
  font-size: 2rem;
  text-align: left;
}

#projects {
  background-color: #FCFAF0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #projects {
    padding: 18rem 32rem 15rem;
  }
}
@media screen and (max-width: 767px) {
  #projects {
    padding: 15rem 6rem;
  }
  #projects .p-card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  #projects h2 {
    font-size: 6rem;
    margin-bottom: 15rem;
  }
}
@media screen and (max-width: 767px) {
  #projects h2 {
    font-size: 5.5rem;
    margin-bottom: 12.3rem;
  }
}
#projects .p-card {
  padding: 4rem 4.2rem 5rem;
  background-color: #FFFFFF;
  height: 51.3rem;
  border: solid 4px #1B519F;
}
@media screen and (min-width: 768px) {
  #projects .p-card {
    width: 54.5rem;
    margin: 4rem 4.5rem 7.6rem;
  }
  #projects .p-card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  #projects .p-card {
    width: 100%;
    margin: 4rem 0rem 7.6rem;
  }
}
#projects .p-card h3 {
  font-size: 2.7rem;
}
#projects .p-card h4 {
  font-size: 3.4rem;
  margin: 5.7rem 0;
  line-height: 6rem;
}
#projects .p-card p {
  font-size: 2rem;
  line-height: 3.5rem;
}
#projects .p-card .p-num {
  font-size: 7.5rem;
  position: absolute;
  transform: translate(0, calc(-50% - 4rem));
}

#schedule {
  background: #1B519F;
  padding-top: 15rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #schedule {
    padding: 15rem 32rem 15rem 40rem;
  }
}
@media screen and (max-width: 767px) {
  #schedule {
    padding: 15rem 6rem 15rem 14rem;
  }
}
#schedule h2 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  #schedule h2 {
    font-size: 6rem;
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 767px) {
  #schedule h2 {
    font-size: 5.5rem;
    margin-bottom: 13.7rem;
  }
}
#schedule .p-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 3rem 0;
  text-align: left;
  line-height: 3.5rem;
}
@media screen and (min-width: 768px) {
  #schedule .p-container {
    height: 20rem;
  }
}
#schedule .p-container .p-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10rem;
  border-radius: 100%;
  background-color: #E989AE;
}
@media screen and (min-width: 768px) {
  #schedule .p-container .p-icon {
    height: 20rem;
    width: 20rem;
  }
}
@media screen and (max-width: 767px) {
  #schedule .p-container .p-icon {
    height: 16rem;
    width: 16rem;
  }
}
@media screen and (min-width: 768px) {
  #schedule .p-container .p-icon .p-fig_schedule1, #schedule .p-container .p-icon .p-fig_schedule2 {
    width: 70%;
  }
  #schedule .p-container .p-icon .p-fig_schedule3, #schedule .p-container .p-icon .p-fig_schedule4 {
    width: 44%;
  }
}
@media screen and (max-width: 767px) {
  #schedule .p-container .p-icon .p-fig_schedule1, #schedule .p-container .p-icon .p-fig_schedule2 {
    width: 60%;
  }
  #schedule .p-container .p-icon .p-fig_schedule3, #schedule .p-container .p-icon .p-fig_schedule4 {
    width: 38%;
  }
}
#schedule .p-container .p-content {
  background-color: #FFFFFF;
  width: 100%;
  padding: 0 2.8rem 0 12rem;
}
@media screen and (min-width: 768px) {
  #schedule .p-container .p-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16rem;
  }
}
@media screen and (max-width: 767px) {
  #schedule .p-container .p-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32.2rem;
  }
  #schedule .p-container .p-content time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 2.3rem 0 3.2rem 0;
  }
}
#schedule .p-container .p-content h3 {
  font-size: 4.2rem;
}
#schedule .p-container .p-content time, #schedule .p-container .p-content p {
  font-size: 2.2rem;
}

#contact {
  position: relative;
}
@media screen and (min-width: 768px) {
  #contact {
    padding: 12.3rem 16rem 10rem;
  }
  #contact::before {
    content: "";
    position: absolute;
    top: 44.9rem;
    bottom: 0;
    left: 0;
    width: 133.6rem;
    background-color: #FCFAF0;
    z-index: -1;
  }
}
@media screen and (max-width: 767px) {
  #contact {
    padding: 15rem 6rem 0rem;
  }
  #contact::before {
    content: "";
    position: absolute;
    top: 61.3rem;
    bottom: 21.8rem;
    left: 0;
    width: 100%;
    background-color: #FCFAF0;
    z-index: -1;
  }
}
@media screen and (min-width: 768px) {
  #contact h2 {
    font-size: 10rem;
    margin-bottom: 32.6rem;
  }
}
@media screen and (max-width: 767px) {
  #contact h2 {
    font-size: 7.5rem;
    margin-bottom: 9.2rem;
  }
}
@media screen and (min-width: 768px) {
  #contact h3, #contact span {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 767px) {
  #contact h3, #contact span {
    font-size: 3rem;
  }
}
#contact p {
  letter-spacing: 0.5rem;
  line-height: 7rem;
}
#contact ul {
  margin-left: 1rem;
  list-style: square;
  display: inline-block;
}
#contact ul li {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  #contact ul {
    width: 57%;
  }
}
@media screen and (max-width: 767px) {
  #contact ul {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  #contact .p-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact .p-upper p {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 767px) {
  #contact .p-upper {
    text-align: center;
    margin-bottom: 10rem;
  }
  #contact .p-upper p {
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 767px) {
  #contact .p-container {
    padding-bottom: 15rem;
  }
}
#contact .p-container-text {
  margin-bottom: 13.6rem;
  line-height: 7rem;
}
#contact .p-container-text p {
  font-size: 3.6rem;
}
#contact .p-button_wrapper {
  height: 10rem;
}
@media screen and (min-width: 768px) {
  #contact .p-button_wrapper {
    width: 60rem;
  }
}
@media screen and (max-width: 767px) {
  #contact .p-button_wrapper {
    width: 50rem;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
}
@media screen and (min-width: 768px) {
  #contact .p-fig_contact1 {
    position: absolute;
    bottom: 10rem;
    right: 16rem;
    width: 32.4%;
  }
  #contact .p-fig_contact2 {
    position: absolute;
    bottom: 51rem;
    right: 6.8rem;
    width: 15%;
  }
}
@media screen and (max-width: 767px) {
  #contact .p-fig_contact1 {
    width: 100%;
  }
  #contact .p-fig_contact2 {
    position: absolute;
    bottom: 41rem;
    right: 6.8rem;
    width: 29%;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #FCFAF0;
  height: 13.8rem;
}
@media screen and (min-width: 768px) {
  #header {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 767px) {
  #header {
    padding: 0 3rem;
  }
}
#header .l-fig_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  #header .l-fig_header {
    width: 23%;
  }
}
@media screen and (max-width: 767px) {
  #header .l-fig_header {
    width: 45%;
    position: relative;
    z-index: -1;
  }
}
#header .l-fig_header h2 {
  font-size: 4rem;
  margin-left: 3rem;
  width: 80%;
}
#header .l-fig_header .l-fig_header_img {
  width: 20%;
}
#header .l-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
#header .l-flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #header .l-button_wrapper {
    width: 24.2rem;
    height: 6.8rem;
  }
}
@media screen and (max-width: 767px) {
  #header .l-button_wrapper {
    margin: auto;
    width: 40rem;
    height: 10rem;
  }
}
#header ul button {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
@media screen and (min-width: 768px) {
  #header ul li {
    font-size: 2.5rem;
    margin: 0 5rem;
  }
}
@media screen and (max-width: 767px) {
  #header ul {
    margin: 19rem 10rem 10rem;
  }
  #header ul li {
    font-size: 5.5rem;
    margin: 8rem 0;
  }
  #header ul li:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  #header {
    height: 11rem;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  footer {
    height: 46.6rem;
  }
}
@media screen and (max-width: 767px) {
  footer {
    height: 35.4rem;
    margin: 0 6rem;
  }
}
footer .p-fig {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  footer .p-fig {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  footer .p-fig {
    width: 100%;
  }
}
footer p {
  position: absolute;
  bottom: 3.6rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5rem;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */