//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//contactセクションのモジュールの設定を定義します

#contact {
	position: relative;
	@include mq($pc){
		padding: 12.3rem 16rem 10rem;
		&::before {
			content: '';
			position: absolute;
			top: 44.9rem;
			bottom: 0;
			left: 0;
			width: 133.6rem;
			background-color: $content-color05;
			z-index: -1;
		}
	}
	@include mq($sp){
		padding: 15rem 6rem 0rem;
		&::before {
			content: '';
			position: absolute;
			top: 61.3rem;
			bottom: 21.8rem;
			left: 0;
			width: 100%;
			background-color: $content-color05;
			z-index: -1;
		}
	}
	h2 {
		@include mq($pc){
			font-size: 10rem;
			margin-bottom: 32.6rem;
		}
		@include mq($sp){
			font-size: 7.5rem;
			margin-bottom: 9.2rem;
		}
	}
	span {
		margin-right: 0.7rem;
	}
	h3, span {
		@include mq($pc) {
			font-size: 2.7rem;
		}
		@include mq($sp) {
			font-size: 2.9rem;
		}
	}
	p {
		letter-spacing: 0.5rem;
		line-height: 7rem;
	}
	ul {
		margin-left: 1rem;
		list-style: square;
		display: inline-block;
		li {
			font-size: 1.2rem;
		}
		@include mq($pc) {
			width: 57%;
		}
		@include mq($sp) {
			width: 100%;
		}
	}
	.p-upper {
		@include mq($pc) {
			@include flex-between;
			p {
				font-size: 3.6rem;
			}
		}
		@include mq($sp) {
			text-align: center;
			margin-bottom: 10rem;
			p {
				font-size: 2.9rem;
			}
		}
	}
	.p-container {
		@include mq($sp) {
			padding-bottom: 15rem;
		}
	}
	.p-container-text {
		margin-bottom: 13.6rem;
		line-height: 7rem;
		margin-left: 3rem;
		text-indent: -1em;
		p {
			font-size: 3.6rem;
		}
	}
	.p-button_wrapper {
		height: 10rem;
		font-size: 2.5rem;
		button:before, button:after {
			content: "ほこたワガママLabに参加する";
		}
		@include mq($pc) {
			width: 60rem;
		}
		@include mq($sp) {
			width: 50rem;
			margin-left: 50%;
			transform: translate(-50%, 0);
		}
	}
	@include mq($pc) {
		.p-fig_contact1 {
			@include position-absolute-br(10rem, 16rem);
			width: 32.4%;
		}
		.p-fig_contact2 {
			@include position-absolute-br(51rem, 6.8rem);
			width: 15%;
		}
	}
	@include mq($sp) {
		.p-fig_contact1 {
			width: 100%;
		}
		.p-fig_contact2 {
			@include position-absolute-br(41rem, 6.8rem);
			width: 29%;
		}
	}
		@include mq($pc) {
		.p-fig_contact1 {
			@include position-absolute-br(10rem, 16rem);
			width: 32.4%;
		}
		.p-fig_contact2 {
			@include position-absolute-br(51rem, 6.8rem);
			width: 15%;
		}
	}
	.text-online {
		@include mq($pc){
			margin-left: 2rem;
		}
		@include mq($sp) {
			margin-left: unset;	
		}
	}
}