//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//projectsセクションのモジュールの設定を定義します

#projects {
	background-color: $content-color05;
	text-align: center;
	@include mq($pc) {
		padding: 18rem 32rem 15rem;
	}
	@include mq($sp) {
		padding: 15rem 6rem;
		.p-card:last-child {
			margin-bottom: 0;
		}
	}
	h2 {
		@include mq($pc) {
			font-size: 6rem;
			margin-bottom: 15rem;
		}
		@include mq($sp) {
			font-size: 5.5rem;
			margin-bottom: 12.3rem;
		}
	}
	.p-card {
		padding: 4rem 4.2rem 5rem;
		background-color: $content-color02;
		height: 51.3rem;
		border: solid 4px $content-color01;
		@include mq($pc) {
			width: 54.5rem;
			margin: 4rem 4.5rem 7.6rem;
			&_container {
				@include flex-unit;
			}
		}
		@include mq($sp) {
			width: 100%;
			margin: 4rem 0rem 7.6rem;
		}
		h3 {
			@include mq($pc) {
				font-size: 2.7rem;
			}
			@include mq($sp) {
				font-size: 3rem;
			}
		}
		h4 {
			font-size: 3.4rem;
			margin: 5.7rem 0;
			line-height: 6rem;
		}
		p {
			@include mq($pc) {
				line-height: 3.5rem;
				font-size: 2rem;
			}
			@include mq($sp) {
				font-size: 2.7rem;
				line-height: 4.2rem;
			}
		}
		.p-num {
			font-size: 7.5rem;
			position: absolute;
			transform: translate(0, calc(-50% - 4.7rem));
		}
	}
}