//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//projectsセクションのモジュールの設定を定義します

#projects {
	padding: 18rem 32rem 15rem;
	background-color: $content-color05;
	text-align: center;
	h2 {
		font-size: 6rem;
		margin-bottom: 7.6rem;
	}
	.p-card {
		&_container {
			@include flex-unit;
		}
		padding: 4rem 4.2rem 5rem;
		margin: 4rem 4.5rem 7.6rem;
		width: 42%;
		background-color: $content-color02;
		h3 {
			font-size: 2.7rem;
		}
		h4 {
			font-size: 3.4rem;
			margin: 5.7rem 0;
			line-height: 6rem;
		}
		p {
			font-size: 2rem;
		}
		.p-num {
			font-size: 7.5rem;
			position: absolute;
			transform: translate(0, calc(-50% - 4rem));
		}
	}
}