//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//scheduleセクションのモジュールの設定を定義します

#schedule {
	background: $content-color01;
	padding-top: 15rem;
	text-align: center;
	padding: 15rem 32rem  15rem 40rem;
	h2 {
		text-align: center;
		font-size: 6rem;
		margin-bottom: 10rem;
	}
	.p-container {
		@include flex-center;
		position: relative;
		margin: 3rem 0;
		height: 20rem;
		text-align: left;
		line-height: 3.5rem;
		.p-icon {
			position: absolute;
			left: -10rem;
			border-radius: 100%;
			height: 20rem;
			width: 20rem;
			background-color: $content-color03;
			@include flex-center;
		}
		.p-content {
			background-color: $content-color02;
			height: 16rem;
			width: 100%;
			padding: 0 2.8rem 0 12rem;
			@include flex-between-center;
			h3 {
				font-size: 4.2rem;
			}
			time, p {
				font-size: 2.2rem;
			}
		}
	}
}