//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//トップセクションのモジュールの設定を定義します

#top {
	background: url("../images/top_background.jpg");
	@include img-cover;
	position: relative;
	@include mq($pc) {
		margin-top: $height-header-pc;
		padding: 10rem 16rem;
		height: 95rem;
		max-height: 100vh;
	}
	@include mq($sp) {
		margin-top: $height-header-sp;
		padding: 10rem 6rem;
		height: 125rem;
	}
	h2 {
		line-height: 9rem;
		@include mq($pc) {
			font-size: 4.2rem;
			margin-bottom: 6.2rem;
		}
		@include mq($sp) {
			font-size: 3.6rem;
			margin-bottom: 4.6rem;
		}
	}
	p {
		font-size: 2rem;
		margin-bottom: 4rem;
		line-height: 4rem;
	}
	.p-fig_top1 {
		@include mq($pc) {
			@include position-absolute-br(20.3rem, 3.6rem);
			width: 27%;
		}
		@include mq($sp) {
			@include position-absolute-br(16.8rem, 0);
			width: 36%;
		}
	}
	.p-fig_top2 {
		@include mq($pc) {
			@include position-absolute-br(0, 33rem);
			width: 30%;
		}
		@include mq($sp) {
			@include position-absolute-br(0, 17.9rem);
			width: 45%;
		}
	}
}
