//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//what to doセクションの設定を定義します
#todo {
	text-align: center;
	@include mq($pc) {
		padding: 15rem 32rem;
		line-height: 7rem;
		letter-spacing: 0.2rem;
	}
	@include mq($sp) {
		padding: 15rem 6.5rem;
		line-height: 5rem;
		.p-card:last-child {
			margin-bottom: 0;
		}
	}
	h2 {
		@include mq($pc) {
			font-size: 6rem;
		}
		@include mq($sp) {
			font-size: 5.5rem;
		}
	}
	h3 {
		@include mq($pc) {
			font-size: 3.6rem;
			&:nth-child(2){
				margin: 15rem 0 9.6rem 0;
			}
			&:nth-child(5){
				margin-bottom: 5.9rem;
				letter-spacing: 0.6rem;
			}
		}
		@include mq($sp) {
			&:nth-child(2){
				font-size: 3.4rem;
				margin: 15rem 0 9.2rem 0;
			}
			&:nth-child(5){
				font-size: 3.6rem;
				margin-bottom: 8rem;
			}
		}
	}
	p {
		@include mq($pc) {
			font-size: 2.7rem;
		}
		@include mq($sp) {
			font-size: 2.7rem;
		}
	}
	.p-unit {
		@include mq($pc) {
			font-size: 3.2rem;
			margin: 0 1.2rem;
		}
		@include mq($sp) {
			font-size: 2.7rem;
		}
	}
	.p-border {
		@include w-100;
		height: 3px;
		border-bottom: solid 3px $content-color01;
		@include mq($pc) {
			margin: 14rem 0 7rem 0;
		}
		@include mq($sp) {
			margin: 9.2rem 0 8rem 0;
		}
	}
	.p-card {
		line-height: initial;
		text-align: center;
		border: solid 4px $content-color01;
		margin-bottom: 3rem;
		@include mq($pc) {
			padding: 5.5rem 4.1rem 3rem;
			width: 41rem;
			border-radius: 20rem 20rem 0 0;
		}
		@include mq($sp) {
			padding: 6.5rem 4.1rem;
			margin-bottom: 6rem;
			width: 52rem;
			overflow-x: hidden;
			border-radius: 26rem 26rem 0 0;
		}
		&_container {
			@include mq($pc) {
				@include flex-between;
			}
			@include mq($sp) {
				@include flex-column;
			}
		}
		h4 {
			margin-bottom: 3rem;
			@include mq($pc) {
				font-size: 2.6rem;
			}
			@include mq($sp) {
				font-size: 3.7rem;
			}
		}
		&:nth-child(1) {
			h4 {
				margin-top: 5.7rem;
			}
		}
		&:nth-child(2) {
			h4 {
				margin-top: 1rem;
			}
		}
		&:nth-child(3) {
			h4 {
				margin-top: 7rem;
			}
		}
		p {
			text-align: left;
			font-weight: 400;
			@include mq($pc) {
				font-size: 2rem;
				line-height: 3.2rem;
			}
			@include mq($sp) {
				font-size: 2.5rem;
				line-height: 3.5rem;
			}
		}
	}
}