//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//visionセクションの設定を定義します
#vision {
	position: relative;
	background-color: $content-color01;
	@include mq($pc) {
		padding: 30rem 32rem 15rem;
	}
	@include mq($sp) {
		padding: 15rem 6rem 72.9rem;
	}
	h2 {
		@include mq($pc) {
			font-size: 26rem;
			position: absolute;
			top: -6rem;
			left: 11.5rem;
		}
		@include mq($sp) {
			font-size: 10rem;
			margin-bottom: 12.5rem;
			text-align: center;
		}
	}
	p {
		line-height: 6.5rem;
		letter-spacing: 0.3rem;
		@include mq($pc) {
			font-size: 2.7rem;
		}
		@include mq($sp) {
			font-size: 2.2rem;
		}
	}
	@include mq($pc) {
		.p-fig_vision1, .p-fig_vision2, .p-fig_vision3 {
			width: 19%;
		}
		.p-fig_vision1 {
			@include position-absolute-tr(16rem, 37.2rem);
		}
		.p-fig_vision2 {
			@include position-absolute-tr(54.6rem, 16rem);
		}
		.p-fig_vision3 {
			@include position-absolute-tr(101.4rem, 32.2rem);
		}
	}
	@include mq($sp) {
		.p-fig_vision1 {
			width: 30%;
			@include position-absolute-bl(33.8rem, 6rem);
		}
		.p-fig_vision2 {
			width: 30%;
			@include position-absolute-bl(10rem, 22.9rem);
		}
		.p-fig_vision3 {
			width: 40%;
			@include position-absolute-bl(32rem, 43rem);
		}
	}
}
