//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//visionセクションの設定を定義します
#vision {
	position: relative;
	background-color: $content-color01;
	@include mq($pc) {
		padding: 0 32rem 15rem;
		overflow-y: hidden;
	}
	@include mq($sp) {
		padding: 15rem 6rem 72.9rem;
	}
	h2 {
		@include mq($pc) {
			font-family: $font-family-mincho;
			font-size: 21rem;
			letter-spacing: 1.5rem;
			line-height: 14.5rem;
			margin-left: -21rem;
			margin-bottom: 12rem;
		}
		@include mq($sp) {
			font-size: 10rem;
			margin-bottom: 12.5rem;
			text-align: center;
		}
	}
	p {
		line-height: 6.5rem;
		font-weight: 400;
		@include mq($pc) {
			font-size: 2.7rem;
			letter-spacing: 0.3rem;
		}
		@include mq($sp) {
			font-size: 2.6rem;
			letter-spacing: 0.23rem;
		}
	}
	@include mq($pc) {
		.p-fig_vision1, .p-fig_vision2, .p-fig_vision3 {
		}
		.p-fig_vision1 {
			width: 15%;
			@include position-absolute-tr(16rem, 37.2rem);
		}
		.p-fig_vision2 {
			width: 15%;
			@include position-absolute-tr(54.6rem, 16rem);
		}
		.p-fig_vision3 {
			width: 	18%;
			@include position-absolute-tr(101.4rem, 32.2rem);
		}
	}
	@include mq($sp) {
		.p-fig_vision1 {
			width: 30%;
			@include position-absolute-bl(33.8rem, 6rem);
		}
		.p-fig_vision2 {
			width: 30%;
			@include position-absolute-bl(10rem, 22.9rem);
		}
		.p-fig_vision3 {
			width: 38%;
			@include position-absolute-bl(32rem, 43rem);
		}
	}
}
