//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//フッターのレイアウトの設定を定義します


footer {
	@include flex-center;
	position: relative;
	text-align: center;
	margin-bottom: 2.4rem;
	@include mq($pc) {
		height: $height-footer-pc;
	}
	@include mq($sp) {
		height: $height-footer-sp;
		margin: 0 6rem;
	}
	.p-fig {
		@include flex-center;
		@include mq($pc) {
			width: 60%;
		}
		@include mq($sp) {
			width: 100%;
		}
	}
	p {
		@include position-absolute-bl(3.6rem, 50%);
		transform:translate(-50%, 0);
		font-size: 1.5rem;
		width: 100%;
		@include mq($pc) {
			font-size: 1.5rem;
		}
		@include mq($sp) {
			font-size: 2rem;
		}
	}
}