//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global"as *;

//ヘッダーのレイアウトの設定を定義します

#header {
	@include position-fixed-tl0;
	@include w-100;
	@include flex-center;
	z-index: 9999;
	background-color: $content-color05;
	height: $height-header-pc;
	@include mq($pc) {
		padding: 0 5rem;
	}
	@include mq($sp) {
		padding: 0 3rem;
	}
	.l-fig_header {
		height: 100%;
		@include mq($pc) {
			width: 23%;
		}
		@include mq($sp) {
			width: 45%;
			position: relative;
			z-index: -1;
		}
		.l-fig_header_img {
			width: 55%;
		}
	}
	.l-inner {
		@include flex-between;
		@include w-100;
	}
	.l-flex_center {
		@include flex-center;
	}
	.l-button_wrapper {
		button:before, button:after {
			content: "参加応募はこちら";
		}
		@include mq($pc) {
			font-size: 2.1rem;
			width: 24.2rem;
			height: 6.8rem;
		}
		@include mq($sp) {
			margin: auto;
			font-size: 2.7rem;
			width: 40rem;
			height: 10rem;
		}
	}
	ul {
		button {
			@include w-100;
			@include h-100;
		}
		@include mq($pc) {
			li {
				font-size: 2.5rem;
				margin: 0 5rem;
			}
		}
		@include mq($sp) {
			margin: 19rem 10rem 10rem;
			li {
				font-size: 5.5rem;
				margin: 8rem 0;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}

@include mq($sp) {
	#header {
		height: $height-header-sp;
	}
}
