//色に関する変数を登録します
$content-color01: #1B519F;
$content-color02: #FFFFFF;
$content-color03: #E989AE;
$content-color04: #FF0000;
$content-color05: #FCFAF0;

$button-left-color: #21529F;
$button-right-color: #E387AD;

/* text-color */
.text-blue {
  color: $content-color01;
}

.text-white {
  color: $content-color02;
}

.text-pink {
  color: $content-color03;
  margin-right: 0.7rem;
}

.text-red {
  color: $content-color04;
}

