//フォントに関する変数を登録します
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Sawarabi+Mincho&display=swap');
body {
  font-family: dnp-shuei-gothic-gin-std,sans-serif;
  font-weight: 600;
  font-style: normal;

}
.font-torrent {
  font-family: margin-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;  
}

// html {
//   font-family: $common-font;
// }
// body {
// h1 {@include text-xl;}
// h2 {@include text-xl;}
// h3 {@include text-l;}
// p {@include text-m;}
// a, div, li, dt, dd, span {@include text-m;}
// }
// b, strong, .bold {@include text-bold;}
// pre {font-family: $common-font;}
